ssl.endpoint.identification.algorithm=https
sasl.mechanism=PLAIN
request.timeout.ms=20000
bootstrap.servers=aaa-aaaaa.us-east-1.aws.confluent.cloud\:9092
retry.backoff.ms=500
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username\="T@C0TU3$D@Y" password\="BUR1T0$_@R3_G00D_2";
security.protocol=SASL_SSL
#schema.registry=http://schemaregistry.my-company.com
